/********************* Colour reference chart****************
*************************** comment ********* colour ******** 

file icon background        cornsilk          #FFF8DC

*/

body {
    margin: 0;
    font-family: Arial, sans-serif;
    display: flex; /* Flexbox container */
    height: 100vh; /* Full viewport height */
    background-image: url(file_background.jpg);
    background-size: contain;
    background-position: bottom right;
    background-color: lightblue;
}

/* Navigation Sidebar */
header {
    background-color: #f8f8f8;
    min-width: 200px; /* Sidebar width */
    display: flex;
    padding: 20px 10px;
}
/* Main Content */
.content {
    flex: 1; /* Takes up remaining space */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 20px;
}

img {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

p {
    text-align: center;
}

/* button code from w3schools */
.btn {
    display: inline-flex;
    align-items: center;
    text-decoration: none; /* Removes underline */
    background-color: #FFF8DC;
    color: black;
    padding: 10px 15px;
    border-radius: 8px;
    font-size: 16px;
    font-family: Arial, sans-serif;
  }
  
  /* Darker background on mouse-over */
  .btn:hover {
    background-color: white;
  }

  .folder-icon {
    width: 50px; /* Adjust the width of the folder image */
    height: 50px; /* Adjust the height */
    margin-right: 10px; /* Space between the icon and text */
  }

  